# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=toBeModified1,toBeModified2,toBeModified3,toBeModified4
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
ENCRYPTION_KEY=tobemodified
JWT_SECRET=tobemodified

# Database (use postgres for production)
DATABASE_CLIENT=postgres
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=
DATABASE_SSL=true

# Cloudinary (for file uploads)
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
